#content {
  position: relative;
  top: 0;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Geist';
  font-size: 35px;
  color: #FFFBFF;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#typed {
  font-family: 'Geist Mono';
  font-size: 25px;
  color: #F1DABF;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.typed-cursor {
  font-family: 'Geist Mono';
  font-size: 25px;
  color: #F1DABF;
}

p {
  display: inline-block;
  font-family: 'Geist Mono';
  padding: 0 5px;
  pointer-events: all;
}

a {
  color: #FFFBFF;
  transition: 0.5s;
}

a:hover {
  color: #E65F5C;
}