:root {
  --blue-chill-50: #f2f9f9;
  --blue-chill-100: #ddeff0;
  --blue-chill-200: #bfe0e2;
  --blue-chill-300: #92cace;
  --blue-chill-400: #5faab1;
  --blue-chill-500: #438e96;
  --blue-chill-600: #3b757f;
  --blue-chill-700: #356169;
  --blue-chill-800: #325158;
  --blue-chill-900: #2d464c;
  --blue-chill-950: #1a2c32;
}

@font-face {
  font-family: 'Geist';
  src: url("Geist/Geist-Regular.woff2");
}

@font-face {
  font-family: 'Geist Mono';
  src: url("Geist Mono/GeistMono-Regular.woff2");
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#content {
  -ms-overflow-style: none;
  user-select: none;
}

#content::-webkit-scrollbar {
  display: none;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background-color: var(--blue-chill-950);
}

h1,
h3 {
  font-family: 'Geist', sans-serif;
  color: #FFFBFF;
}

p,
span {
  font-family: 'Geist Mono', monospace;
  color: #FFFBFF;
}

h2 {
  font-family: 'Geist Mono', monospace;
  color: #F1DABF;
}

a {
  font-family: 'Geist Mono', monospace !important;
  color: #FFFBFF !important;
  transition: 0.25s !important;
}

a:hover {
  color: #E65F5C !important;
}

#landing span {
  color: #F1DABF;
}

/* Contact Form */
.form_content {
  animation: 1s fadeInDown;
}

.pointer-events-auto {
  /* border: 1px solid red !important; */
}

input[type="text"],
input[type="email"] {
  width: 100%;
  border-radius: 5px;
  font-family: 'GeistMono', monospace;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.15);
  color: #FFFBFF;
}

textarea {
  width: 100%;
  height: 10em;
  border-radius: 5px;
  font-family: 'GeistMono', monospace;
  padding: 8px 16px !important;
  background: rgba(255, 255, 255, 0.15);
  color: #FFFBFF !important;
}

label {
  color: #FFFBFF;
  width: 100%;
  padding: 10px 16px !important;
  margin: 0px auto !important;
}

input::placeholder,
textarea::placeholder {
  font-family: 'GeistMono', monospace;
  color: #1A2C32;
}

button {
  border-radius: 5px;
  margin-top: 20px !important;
  font-family: 'Geist Mono', monospace !important;
  transition: 0.25s !important;
}

svg {
  transition: 0.25s !important;
}

/* ---- animations attempt ---- */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* remove the blue highlight of button on mobile */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}